<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
        
    {% endblock %}
    <link href="{{url_for('static',filename='fontawesome/css/fontawesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='fontawesome/css/solid.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='fontawesome/css/brands.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='js/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/master.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='flagiconcss/css/flag-icon.min.css')}}" rel="stylesheet">
    
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{{url_for('static',filename='image/logo.png')}}" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                {% block nav %}

                {% endblock %}
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                
            </nav>
            <!-- end of navbar navigation -->
             <div id="body" class="active">
            <!-- navbar navigation component -->
            
            <!-- end of navbar navigation -->
            <div class="content">
               {% block content %}
                <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" placeholder="Email Address" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
          <div class="col-sm-4 offset-sm-2">
              <button type="submit" class="btn btn-secondary mb-2"><i class="fas fa-times"></i> Cancel</button>
              <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-save"></i> Save</button>
          </div>
        </div>       
               {% endblock %}
            </div>
        </div>
            
        </div>
    </div>
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
</body>

</html>
