{% extends "table.html" %}

{% block title %}

  <title>Budget Lisiting</title>

{% endblock %}

{% block listing_name %}

    Lisiting

{% endblock %}

{% block column %}

    <th>Item Name</th> 
    <th>Department</th>                                              
    <th>Item Buget</th>
    <th>Item Budget Deduct</th>
    <th>Item Quantity</th>
    <th>Item Quantity Deduct</th>
    <th>Item Unit</th>

{% endblock %}

{% block table_content %}
    {% for i in budget_list_name %}
        <tr>
            
            <td>
                {{i[0]}}
            </td>
            
            <td>
                {{i[1]}}
            </td>
            
            <td>
                {{i[2]}} {{i[6]}}
            </td>
            
            <td>
                {{i[3]}} {{i[6]}}
            </td>

            <td>
                {{i[4]}} 
            </td>
            
            <td>
                {{i[5]}}
            </td>

            <td>
                {{i[7]}}
            </td>
            
        </tr>

    {% endfor %}

{% endblock %}