{% extends "table.html" %}

{% block title %}

  <title>Checkin Lisiting</title>

{% endblock %}

{% block listing_name %}

    Checkin Lisiting

{% endblock %}

{% block column %}

    <th>Item Name</th>                                                
    <th>Item Price</th>
    <th>Item Quantity</th>
    <th>Item Grr</th>
    <th>Item Unit</th>
    <th>View Info</th>

{% endblock %}

{% block table_content %}
    {% for i in checkin_list_name %}
        <tr>
            
            <td>
                {{i[0]}}
            </td>
            
            <td>
                {{i[1]}}
            </td>
            
            <td>
                {{i[2]}}
            </td>
            
            <td>
                {{i[3]}}
            </td>
            
            <td>
                {{i[4]}}
            </td>

            <td>
                <a href="/checkin_info//{{i[5]}}" class="btn btn-primary">View</a>
            </td>
            
        </tr>

    {% endfor %}

{% endblock %}


{% block export_table %}
<p><button id="export_button">Export to Excel</button></p>
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script>
document.getElementById("export_button").addEventListener("click", function () {

	const table_html = document.getElementById("table");

	// Create a spreadsheet from the HTML table
	const workbook = XLSX.utils.table_to_book(table_html);

	// Trigger the download of the Excel file
	XLSX.writeFile(workbook, "employee_data.xlsx");

});
</script>
{% endblock %}
