<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/checkin.css')}}" />
</head>
<body>
   <nav>
        <a href="/item_regsisteration">item registeration</a>
        <a href="/employee_registeration">employee registeration</a>
        <a href="/item_checkin">checkin</a>
        <a href="/item_checkout">checkout</a>
        <a href="/dashboard">dashboard</a>
    </nav>
    <form action="/item_checkout" method="post">
        <p>Check Out Employee Id <input type="number" name="CheckOutEmployeeId" id=""></p>   
	    <p> 
            Item Name
            <select name="ItemName" id="">
                
            </select>
        </p>  
        <p>Item Siv <input type="number" name="ItemSiv" id="" min="0"></p>     
        <p>Item Quantity <input type="number" name="ItemQuantity" id="" min="0"></p>   
        <p>
            Department
            <select name="department" id="">
                <option value=""></option>
            </select>
        </p> 

        <p>
            Location
            <select name="location" id="">
                <option value="Addis Ababa">Addis Ababa</option>
                <option value="Adama">Adama</option>
                <option value="Dire Dawa">Dire Dawa</option>
                <option value="Mekelle">Mekelle</option>
                <option value="Gondar">Gondar</option>
                <option value="Bahir Dar">Bahir Dar</option>
                <option value="Hawassa">Hawassa</option>
                <option value="Jimma">Jimma</option>
                <option value="Harar">Harar</option>
                <option value="Dessie">Dessie</option>
                <option value="Shashamane">Shashamane</option>
                <option value="Asella">Asella</option>
                <option value="Debre Markos">Debre Markos</option>
                <option value="Gambela">Gambela</option>
                <option value="Jijiga">Jijiga</option>
                <option value="Arba Minch">Arba Minch</option>
                <option value="Dilla">Dilla</option>
            </select>
        </p> 
        
        <p>Item Description<textarea name="Notes" id=""></textarea></p>
        <input type="submit" value="enter">
        <input type="reset" value="reset">
    </form>
</body>
</html>