{% extends "table.html" %}

{% block title %}

  <title>Check In Lisiting</title>

{% endblock %}

{% block listing_name %}

    Check In Lisiting

{% endblock %}

{% block column %}

    <th>Item Name</th>                                                
    <th>Item Price</th>
    <th>Item Quantity</th>
    <th>Item Grr</th>
    <th>Item Unit</th>
    <th>View Info</th>

{% endblock %}

{% block table_content %}
    {% for i in checkin_list_name %}
        <tr>
            
            <td>
                {{i[0]}}
            </td>
            
            <td>
                {{i[1]}}
            </td>
            
            <td>
                {{i[2]}}
            </td>
            
            <td>
                {{i[3]}}
            </td>
            
            <td>
                {{i[4]}}
            </td>
            
            
        </tr>

    {% endfor %}

{% endblock %}