{% extends "base.html" %}

{% block title %}
  <title>Item Check Out</title>
{% endblock %}

{% block nav %}
  <li>
    <a href="/item_checkin"><i class="fa fa-sign-out">checkin</i></a>
  </li>
  <li>
    <a href="/item_checkout"><i class="fa fa-sign-out">checkout</i></a>
  </li>
  <li>
    <a href="/item_regsisteration"><i class="fa fa-sign-out">regsisteration</i></a>
  </li>
  <li>
    <a href="/logout"><i class="fa fa-sign-out">logout</i></a>
  </li>
{% endblock %}

{% block content %}

    <div class="container">
        <form action="/item_checkout" method="post">
            <h5 class="card-title">Item Checkout</h5>
            {% if negative %}
            <h4 class="card-title">Not Enough Item Quantity In Inventory</h4>
            {% endif %}
            <div class="card-body">
                <div class="mb-3 row">
                        <label class="col-sm-2 form-label" for="Returning Employee Id">Returning Employee Id</label>
                        <div class="col-sm-10">
                            <input type="number" name="return_employee_id" placeholder="Returning Employee Id" class="form-control" required>
                        </div>
                </div>
            </div>

            <div class="mb-3 col-md-4">
                <label for="department" class="form-label">Department</label>
                <select name="department" class="form-select" required>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Finance">Finance</option>
                    <option value="Sales">Sales</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Customer Service">Support</option>
                    <option value="Operations">Operations</option>
                    <option value="Procurement">Procurement</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Research & Development">Research & Development</option>
                    <option value="Administration">Administration</option>
                    <option value="Logistics & Supply Chain">Logistics & Supply Chain</option>
                    <option value="Manufacturing">Production / Manufacturing</option>
                    <option value="Quality Assurance">Quality Assurance</option>
                    <option value="Legal">Legal</option>
                    <option value="Public Relations">Public Relations</option>
                    <option value="Store">Store</option>
                </select>
            </div>

            
            
            <div class="mb-3 col-md-4">
                <label for="Item Name" class="form-label">Item Name</label>
                <select name="item_name" class="form-select" required>
                    {% for i in item_name_list %}
                        <option value="{{i[0]}}">{{i[0]}}</option>
                    {% endfor %}
                </select>
            </div>



            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="Checkout Date">Checkout Date</label>
                <div class="col-sm-10">
                  <input type="date" name="checkout_date" placeholder="Checkout Date" class="form-control" required>
                </div>
            </div>

            <div class="card-body">
                <div class="mb-3 row">
                        <label class="col-sm-2 form-label" for="Item Quantity">Item Quantity</label>
                        <div class="col-sm-10">
                            <input type="number" name="item_quantity" placeholder="Item Quantity" class="form-control" required>
                        </div>
                </div>
            </div>

            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-sm-2 form-label" for="Item Siv">Item Siv</label>
                    <div class="col-sm-10">
                        <input type="number" name="item_siv" placeholder="Item Siv" class="form-control" required>
                    </div>
                </div>
            </div>

            

            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-sm-2 form-label" for="Item Description">Item Description</label>
                    <div class="col-sm-10">
                        <textarea name="item_description" placeholder="Item Description" class="form-control" required></textarea>
                    </div>
                </div>
            </div>

            <div class="mb-3 col-md-4">
                <label for="unit" class="form-label">Unit Of Measurment</label>
                    <select name="unit" class="form-select" required>
                        <option value="Piece">Piece</option>
                        <option value="Dozen">Dozen</option>
                        <option value="Package">Package</option>
                        <option value="Gram">Gram</option>
                        <option value="Kilogram">Kilogram</option>
                        <option value="Ton">Ton</option>
                        <option value="Milliliter">Milliliter</option>
                        <option value="Liter">Liter</option>
                        <option value="Gallon">Gallon</option>
                        <option value="Barrel">Barrel</option>
                        <option value="Millimeter">Millimeter</option>
                        <option value="Centimeter">Centimeter</option>
                        <option value="Meter">Meter</option>
                        <option value="Roll">Roll</option>
                        <option value="Sheet">Sheet</option>
                        <option value="Bottle">Bottle</option>
                        <option value="Can">Can</option>
                    </select>
            </div>

            <div class="mb-3 col-md-4">
                <label for="Location" class="form-label">Item Location</label>
                <select name="location" class="form-select" required>
                    <option value="Addis Ababa">Addis Ababa</option>
                    <option value="Adama">Adama</option>
                    <option value="Dire Dawa">Dire Dawa</option>
                    <option value="Mekelle">Mekelle</option>
                    <option value="Gondar">Gondar</option>
                    <option value="Bahir Dar">Bahir Dar</option>
                    <option value="Hawassa">Hawassa</option>
                    <option value="Jimma">Jimma</option>
                    <option value="Harar">Harar</option>
                    <option value="Dessie">Dessie</option>
                    <option value="Shashamane">Shashamane</option>
                    <option value="Asella">Asella</option>
                    <option value="Debre Markos">Debre Markos</option>
                    <option value="Gambela">Gambela</option>
                    <option value="Jijiga">Jijiga</option>
                    <option value="Arba Minch">Arba Minch</option>
                    <option value="Dilla">Dilla</option>
                </select>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-10 offset-sm-2">
                    <input type="submit" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary">
                </div>
            </div>  
        </form>
    </div>
    

{% endblock %}
