{% extends "table.html" %}

{% block title %}

  <title>Checkin Lisiting</title>

{% endblock %}

{% block listing_name %}

    Checkin Lisiting

{% endblock %}

{% block column %}

    <th>Item Name</th>                                                
    <th>Item Status</th>
    <th>Item Quantity</th>
    <th>Item Siv</th>
    <th>Item Unit</th>
    <th>View Info</th>

{% endblock %}

{% block table_content %}
    {% for i in checkout_list_name %}
        <tr>
            
            <td>
                {{i[0]}}
            </td>
            
            <td>
                {{i[1]}}
            </td>
            
            <td>
                {{i[2]}}
            </td>
            
            <td>
                {{i[3]}}
            </td>
            
            <td>
                {{i[4]}}
            </td>

            <td>
                <a href="/checkout_info/{{i[5]}}" class="btn btn-primary">View</a>
            </td>
        </tr>

    {% endfor %}

{% endblock %}