<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="static/css/checkin.css">
</head>
<body>
    <nav>
        <a href="/item_registeration">item registeration</a>
        <a href="/employee_registeration">employee registeration</a>
        <a href="/checkin">checkin</a>
        <a href="/checkout">checkout</a>
    </nav>
    <form action="" method="post">
        <p>Check Out Employee Id <input type="number" name="CheckOutEmployeeId" id=""></p>   
	    <p>Item Id <input type="number" name="ItemId" id=""></p>
        <p>Item Siv <input type="number" name="ItemSiv" id="" min="0"></p>     
        <p>Item Quantity <input type="number" name="ItemQuantity" id="" min="0"></p>                    
        <p>Note <textarea name="Notes" id=""></textarea></p>
        <input type="submit" value="enter">
        <input type="reset" value="reset">
    </form>
</body>
</html>