<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/checkin.css')}}" />
    <title>checkin</title>
</head>
<body>
    <nav>
        <a href="/item_registeration">item registeration</a>
        <a href="/employee_registeration">employee registeration</a>
        <a href="/item_checkin">checkin</a>
        <a href="/item_checkout">checkout</a>
    </nav>
    <form action="" method="post">
        <p>Check In Employee Id <input type="number" name="CheckInEmployeeId" id=""></p>   
	    <p>Check Item Id <input type="number" name="ItemId" id=""></p>   
        <p>Item Price <input type="number" name="ItemPrice" id="" min="0"></p>           
	    <p>Item Grr <input type="number" name="ItemGrr" id="" min="0"></p>     
        <p>Item Quantity <input type="number" name="ItemQuantity" id="" min="0"></p>                    
        <p>Note <textarea name="Notes" id=""></textarea>  </p>
        <input type="submit" value="enter">
        <input type="reset" value="reset">
    </form>
</body>
</html>