{% extends "base.html" %}

{% block title %}
    <title>Employee Termination</title>
{% endblock %}

{% block content %}
  <div class="container">
    <form action="/employee_termination" method="POST">
        <h5 class="card-title">Employee Termination</h5>
        
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="Employee Id">Employee Id</label>
                <div class="col-sm-10">
                  <input type="text" name="employee_id" placeholder="Employee Id" class="form-control" required>
                </div>
              </div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="Employment Status" class="form-label">Employment Status</label>
            <select name="employment_status" class="form-select" required>
                <option value="Resigned">Resigned</option>
                <option value="Terminated">Terminated</option>
                <option value="Retired">Retired</option>
                <option value="Deceased">Deceased</option>
            </select>
        </div>
              
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="Termination Reason">Termination Reason</label>
                <div class="col-sm-10">
                  <textarea name="termination_reason" placeholder="TerminationReason" class="form-control" required></textarea>
                </div>
              </div>
        </div>

        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-2 form-label" for="Termination Date">Termination Date</label>
                <div class="col-sm-10">
                  <input type="date" name="termination_date" placeholder="Termination Date" class="form-control" required>
                </div>
              </div>
        </div>
        
        <div class="mb-3 row">
                <div class="col-sm-10 offset-sm-2">
                    <input type="submit" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary">
                </div>
        </div>

    </form>
    </div>
{% endblock %}
