{% extends "table.html" %}

{% block title %}
  <title>Employee Lisiting</title>
{% endblock %}

{% block listing_name %}

    Employee Lisiting

{% endblock %}

{% block column %}

    <th>Tin Number</th>
    <th>Employee Name</th>
    <th>Phonenumber</th>    
    <th>
            Department
        <select name="" id="department" class="form-select">
            {% for i in db_department %}
                <option value="{{i[0]}}">{{i[0]}}</option>
            {% endfor %}
        </select>
    </th>
    <th>Poistion</th>
    <th>Salary</th>
    <th>Bank Account Number</th>
    <th>View Full info</th>
    </tr>

{% endblock %}

{% block table_content %}
<script>

    fetch("/all/employee/data")
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(
            data => {
               
                let employee_list=document.getElementById("list")
                let department=document.getElementById("department")
                
                let found_employee=false
                
                
                department.addEventListener("change",function(event){
                    let td=""
                    for(let i=0;i<data.length;i++){
                        if(event.target.value==data[i]["department_name"]){
                            found_employee=true
                            td+="<tr><td>"+data[i]["employee_tin_number"]+"</td>"
                            td+="<td>"+data[i]["firstname"]+" "+data[i]["lastname"] +"</td>"
                            td+="<td>"+data[i]["phonenumber"]+"</td>"
                            td+="<td>"+data[i]["department_name"]+"</td>"
                            td+="<td>"+data[i]["position"]+"</td>"
                            td+="<td>"+data[i]["salary"]+"</td>"
                            td+="<td>"+data[i]["bank_account_number"]+"</td>"
                            td+="<td>"+"<a href='/employee_info_for_hr/"+data[i]["employee_tin_number"]+"' class='btn btn-primary'>View</a>"+"</td></tr>"  
                        }     
                    }
                    if(found_employee){
                        employee_list.innerHTML=td
                    } else{
                        employee_list.innerHTML = '<tr><td colspan="8">No employees found in this department.</td></tr>';
                        
                    }
                })

            }
        )
        .catch((error)=>{
            console.log(error);
        });
</script>

{% endblock %}

