<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {% block title %}
        
    {% endblock %}

    <link href="{{url_for('static',filename='js/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/error.css')}}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap/js/bootstrap.bundle.min.js')}}"></script>    
</body>

</html>