{% extends "table.html" %}

{% block title %}

  <title>Finanical Data</title>

{% endblock %}

{% block listing_name %}

    Lisiting

{% endblock %}

{% block column %}

    <th>Tin Number</th>
    <th>Employee Name</th> 
    <th>Gross Salary</th>                                              
    <th>Tax Deducation</th>
    <th>Pension</th>

{% endblock %}

{% block table_content %}
    {% for i in budget_list_name %}
        <tr>
            
            <td>
                {{i[0]}}
            </td>
            
            <td>
                {{i[1]}}
            </td>
            
            <td>
                {{i[2]}}
            </td>
            
            <td>
                {{i[3]}} {{i[4]}}
            </td>
            
            <td>
                {{i[5]}}
            </td>
            
        </tr>

    {% endfor %}

{% endblock %}