{% extends "table.html" %}

{% block title %}

  <title>Finanical Data</title>

{% endblock %}

{% block listing_name %}

    <p>Number of Employee: {{total_employee_info["number_of_employee"] or "0"}}</p>
    <p>Total Gross Salary: {{total_employee_info["total_gross_salary"] or "0"}}</p>
    <p>Total Net Income Tax: {{total_employee_info["total_income_tax"] or "0"}}</p>
    <p>Total Pension: {{total_employee_info["total_pension"] or "0"}}</p>
    <p>Total Net Salary: {{total_employee_info["total_net_salary"] or "0"}}</p>

{% endblock %}

{% block column %}

    <th>Tin Number</th>
    <th>Employee Name</th> 
    <th>
        <form action="/finanical_data" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            Department
            <select name="department" id="department" class="form-select">
                <option value="All">All</option>
                {% for i in db_department %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        
    </th>
    <th>Gross Salary</th>                                              
    <th>Income Tax</th>
    <th>Pension (7%)</th>
    <th>Net Salary</th>
    <input type="submit" value="search">
    </form>

{% endblock %}

{% block table_content %}

    {% for i in employee_dict %}
        <tr>
            <td>
                {{i["employee_tin_number"]}}
            </td>
            <td>
                {{i["name"]}}
            </td>
            <td>
                {{i["department"]}}
            </td>
            <td>
                {{i["gross_salary"]}}
            </td>
            <td>
                {{i["income_tax"]}}
            </td>
            <td>
                {{i["pension"]}}
            </td>
            <td>
                {{i["net_salary"]}}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block export_table %}
<p><button id="export_button">Export to Excel</button></p>
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script>
document.getElementById("export_button").addEventListener("click", function () {

	const table_html = document.getElementById("table");

	// Create a spreadsheet from the HTML table
	const workbook = XLSX.utils.table_to_book(table_html);

	// Trigger the download of the Excel file
	XLSX.writeFile(workbook, "employee_data.xlsx");

});
</script>
{% endblock %}
