{% extends "table.html" %}

{% block title %}

  <title>Finanical Data</title>

{% endblock %}

{% block listing_name %}

    Lisiting

{% endblock %}

{% block column %}

    <th>Tin Number</th>
    <th>Employee Name</th> 
    <th>
         Department
        <select name="" id="department" class="form-select">
            {% for i in db_department %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
    </th>
    <th>Gross Salary</th>                                              
    <th>Income Tax</th>
    <th>Pension (7%)</th>
    <th>Net Salary</th>

{% endblock %}

{% block table_content %}
    <script>
        let department=document.getElementById("department")
        
        
        department.addEventListener('change',function(event){
            fetch("/finanical_data_department/"+event.target.value)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    for(let i=0;i<data.length;i++){
                        console.log(data[i])
                    }
                    
                })
                .catch(err => {
                    console.log(err)
                })
        })
        
    </script>
{% endblock %}

