{% extends "base.html" %}

{% block title %}
  <title>item registeration</title>
{% endblock %}

{% block content %}
  <div class="container">
    <form action="/item_regsisteration" method="POST">

        
        <h5 class="card-title">New Item Registeration</h5>
        {% if sucess %}
            <h4 class="card-title">Sucessfully Registeratred</h4>
        {% endif %}
        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Name">Item Name</label>
              <div class="col-sm-10">
                <input type="text" name="item_name" placeholder="Item Name" class="form-control" required>
              </div>
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Description">Item Description</label>
              <div class="col-sm-10">
                <textarea name="item_description" placeholder="Item Description" class="form-control" required></textarea>
              </div>
          </div>
        </div>
        
        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Price">Item Price</label>
              <div class="col-sm-10">
                <input type="number" name="item_price" placeholder="Item Price" class="form-control" required>
              </div>
          </div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="currency" class="form-label">Currency</label>
              <select name="currency" class="form-select" required>
                  {% for i in db_currency %}
                    <option value="{{i[0]}}">{{i[0]}}</option>
                  {% endfor %}
            </select>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Shelf Life">Item Shelf Life</label>
              <div class="col-sm-10">
                <input type="date" name="item_shelf_life" placeholder="" class="form-control" required>
              </div>
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Quantity">Item Quantity</label>
              <div class="col-sm-10">
                <input type="number" name="item_quantity" placeholder="Item Quantity" class="form-control" required>
              </div>
          </div>
        </div>
    
        <div class="mb-3 col-md-4">
          <label for="Item Category" class="form-label">Item Category</label>
            <select name="item_category" class="form-select" required>
                 {% for i in db_category %}
                    <option value="{{i[0]}}">{{i[0]}}</option>
                  {% endfor %}
            </select>
        </div>

        <div class="mb-3 col-md-4">
          <label for="Item SubCategory" class="form-label">Item SubCategory</label>
            <select name="item_subcategory" class="form-select" required>
                {% for i in db_subcategory %}
                    <option value="{{i[0]}}">{{i[0]}}</option>
                  {% endfor %}
            </select>
        </div>

        <div class="mb-3 col-md-4">
          <label for="Location" class="form-label">Item Location</label>
            <select name="location" class="form-select" required>
                {% for i in db_location %}
                  <option value="{{i[0]}}">{{i[0]}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3 col-md-4">
          <label for="unit" class="form-label">Unit Of Measurment</label>
            <select name="unit" class="form-select" required>
                {% for i in db_unit %}
                  <option value="{{i[0]}}">{{i[0]}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-10 offset-sm-2">
            <input type="submit" class="btn btn-primary">
            <input type="reset" class="btn btn-primary">
          </div>
        </div>   
    </form>
  </div>
 
{% endblock %}