<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Add</title>
</head>
<body>
    <form action="/item_add" method="post">
        <table>
            <tr>
                <td>
                    item id
                </td>
                <td>
                    <input type="number" name="item_id" id="" placeholder="item id">
                </td>
            </tr>

            <tr>
                <td>
                    item price
                </td>
                <td>
                    <input type="number" name="item_price" id="" placeholder="item price" min="0">
                </td>
            </tr>

            <tr>
                <td>
                    item quantity
                </td>
                <td>
                    <input type="number" name="item_quantity" id="" placeholder="item quantity" min="0">
                </td>
            </tr>

            <tr>
                <td>
                    description
                </td>
                <td>
                    <textarea name="description" id=""></textarea>
                </td>
            </tr>

        </table>
    </form>
</body>
</html>