{% extends "base.html" %}

{% block title %}
  <title>item registeration</title>
{% endblock %}

{% block nav %}
  <li>
    <a href="/item_checkin"><i class="fa fa-sign-out">checkin</i></a>
  </li>
  <li>
    <a href="/item_checkout"><i class="fa fa-sign-out">checkout</i></a>
  </li>
  <li>
    <a href="/item_regsisteration"><i class="fa fa-sign-out">regsisteration</i></a>
  </li>
  <li>
    <a href="/logout"><i class="fa fa-sign-out">logout</i></a>
  </li>
{% endblock %}

{% block content %}
  <div class="container">
    <form action="/item_regsisteration" method="POST">

        
        <h5 class="card-title">New Item Registeration</h5>
        {% if msg %}
            <h4 class="card-title">{{msg}}</h4>
        {% endif %}
        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Name">Item Name</label>
              <div class="col-sm-10">
                <input type="text" name="item_name" placeholder="Item Name" class="form-control" required>
              </div>
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Description">Item Description</label>
              <div class="col-sm-10">
                <textarea name="item_description" placeholder="Item Description" class="form-control" required></textarea>
              </div>
          </div>
        </div>
        
        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Price">Item Price</label>
              <div class="col-sm-10">
                <input type="number" name="item_price" placeholder="Item Price" class="form-control" required>
              </div>
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Shelf Life">Item Shelf Life</label>
              <div class="col-sm-10">
                <input type="date" name="item_shelf_life" placeholder="" class="form-control" required>
              </div>
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Item Quantity">Item Quantity</label>
              <div class="col-sm-10">
                <input type="number" name="item_quantity" placeholder="Item Quantity" class="form-control" required>
              </div>
          </div>
        </div>
    
        <div class="mb-3 col-md-4">
          <label for="Item Category" class="form-label">Item Category</label>
            <select name="item_category" class="form-select" required>
                <option value="Electronics">Electronics</option>
                <option value="Office Supplies">Office Supplies</option>
                <option value="Food">Food</option>
                <option value="IT">IT</option>
                <option value="Furniture">Furniture</option>
                <option value="Safety Equipment">Safety Equipment</option>
                <option value="Chemical">Chemical</option>
                <option value="Sanitary">Sanitary</option>
                <option value="Spare Part">Spare Part</option>
                <option value="Accessory">Accessory</option>
                <option value="Clothing">Clothing</option>
                <option value="Constraction Material">Constraction Material</option>
                <option value="Pad">Pad</option>
                <option value="Stationery">Stationery</option>   
            </select>
        </div>

        <div class="mb-3 col-md-4">
          <label for="Item SubCategory" class="form-label">Item SubCategory</label>
            <select name="item_subcategory" class="form-select" required>
                <option value="Fixed Assest">Fixed Assest</option>
                <option value="Moving">Moving</option>
                <option value="Consumable">Consumable</option>
            </select>
        </div>

        <div class="mb-3 col-md-4">
          <label for="Location" class="form-label">Item Location</label>
            <select name="location" class="form-select" required>
                <option value="Addis Ababa">Addis Ababa</option>
                <option value="Adama">Adama</option>
                <option value="Dire Dawa">Dire Dawa</option>
                <option value="Mekelle">Mekelle</option>
                <option value="Gondar">Gondar</option>
                <option value="Bahir Dar">Bahir Dar</option>
                <option value="Hawassa">Hawassa</option>
                <option value="Jimma">Jimma</option>
                <option value="Harar">Harar</option>
                <option value="Dessie">Dessie</option>
                <option value="Shashamane">Shashamane</option>
                <option value="Asella">Asella</option>
                <option value="Debre Markos">Debre Markos</option>
                <option value="Gambela">Gambela</option>
                <option value="Jijiga">Jijiga</option>
                <option value="Arba Minch">Arba Minch</option>
                <option value="Dilla">Dilla</option>
            </select>
        </div>

        <div class="mb-3 col-md-4">
          <label for="unit" class="form-label">Unit Of Measurment</label>
            <select name="unit" class="form-select" required>
                <option value="Piece">Piece</option>
                <option value="Dozen">Dozen</option>
                <option value="Package">Package</option>
                <option value="Gram">Gram</option>
                <option value="Kilogram">Kilogram</option>
                <option value="Ton">Ton</option>
                <option value="Milliliter">Milliliter</option>
                <option value="Liter">Liter</option>
                <option value="Gallon">Gallon</option>
                <option value="Barrel">Barrel</option>
                <option value="Millimeter">Millimeter</option>
                <option value="Centimeter">Centimeter</option>
                <option value="Meter">Meter</option>
                <option value="Roll">Roll</option>
                <option value="Sheet">Sheet</option>
                <option value="Bottle">Bottle</option>
                <option value="Can">Can</option>
            </select>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-10 offset-sm-2">
            <input type="submit" class="btn btn-primary">
            <input type="reset" class="btn btn-primary">
          </div>
        </div>   
    </form>
  </div>
 
{% endblock %}