{% extends "base.html" %}

{% block title %}
  <title>Account Info</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Employee Information</h5>
                            <div class="card-body">

                                <h6 class="card-title">Employee Name</h6>
                                <p class="card-text">{{employee["name"]}}</p>

                                <h6 class="card-title">Department</h6>
                                <p class="card-text">{{employee["department_name"]}}</p>

                                <h6 class="card-title">Location</h6>
                                <p class="card-text">{{employee["location"]}}</p>

                                <h6 class="card-title">Position</h6>
                                <p class="card-text">{{employee["position"]}}</p>

                                <h6 class="card-title">Salary</h6>
                                <p class="card-text">{{employee["salary"]}}</p>

                                <h6 class="card-title">Date Of Employement</h6>
                                <p class="card-text">{{employee["date_of_employement"]}}</p>

                                <h6 class="card-title">Fyida Id</h6>
                                <p class="card-text">{{employee["fyida_id"]}}</p>

                                <h6 class="card-title">Gender</h6>
                                <p class="card-text">{{employee["gender"]}}</p>

                                <h6 class="card-title">Phonenumber</h6>
                                <p class="card-text">{{employee["phonenumber"]}}</p>

                                <h6 class="card-title">Email</h6>
                                <p class="card-text">{{employee["email"]}}</p>

                                <h6 class="card-title">Tin Number</h6>
                                <p class="card-text">{{employee["employee_tin_number"]}}</p>

                                <h6 class="card-title">bank account number</h6>
                                <p class="card-text">{{employee["bank_account_number"]}}</p>

                                <h6 class="card-title">Job Description</h6>
                                <p class="card-text">{{employee["job_description"]}}</p>

                                {% if termaination %}

                                    <h6 class="card-title">Termination Date</h6>
                                    <p class="card-text">{{employee["termination_date"]}}</p>

                                    <h6 class="card-title">Termination Reason</h6>
                                    <p class="card-text">{{employee["termination_reason"]}}</p>

                                    <h6 class="card-title">employment_status</h6>
                                    <p class="card-text">{{employee["employment_status"]}}</p>

                                    {% if employee["employment_status"]!="Deceased" %}
                                        <form action='/restate/{{employee["employee_tin_number"]}}' method="POST">
                                            <select name="employment_status" id="">
                                                <option value="Active">Active</option>
                                            </select>
                                            <div class="mb-3 row">
                                                <div class="col-sm-10 offset-sm-2">
                                                    <input type="submit" class="btn btn-primary">
                                                    <input type="reset" class="btn btn-primary">
                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Emergency Contact</h5>
                            <div class="card-body">

                                <h6 class="card-title">Name</h6>
                                <p class="card-text">{{employee["emergency_contact"]["name"]}}</p>

                                <h6 class="card-title">Location</h6>
                                <p class="card-text">{{employee["emergency_contact"]["location"]}}</p>

                                <h6 class="card-title">Fyida Id</h6>
                                <p class="card-text">{{employee["emergency_contact"]["fyida_id"]}}</p>

                                <h6 class="card-title">Gender</h6>
                                <p class="card-text">{{employee["emergency_contact"]["gender"]}}</p>

                                <h6 class="card-title">Phonenumber</h6>
                                <p class="card-text">{{employee["emergency_contact"]["phonenumber"]}}</p>

                                <h6 class="card-title">Email</h6>
                                <p class="card-text">{{employee["emergency_contact"]["email"]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<script src="{{url_for('static',filename='datatables/datatables.min.js')}}"></script>
<script src="{{url_for('static',filename='js/initiate-datatables.js')}}"></script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>  
{% endblock %}
