{% extends "table.html" %}

{% block title %}

  <title>Pending List</title>

{% endblock %}

{% block listing_name %}
    Pending List
{% endblock %}

{% block column %}
    <th>employee tin number</th>
    <th>Item Name</th>
    <th>Order Status</th>
    <th>Order Date</th>                                                
{% endblock %}

{% block table_content %}
    {% for i in pending_list_name %}
        <tr>
            
            <td>
                {{i[0]}}
            </td>
            
            <td>
                {{i[1]}}
            </td>
            
            <td>
                {{i[2]}}
            </td>
            
            <td>
                {{i[3]}}
            </td>
            
        </tr>

    {% endfor %}

{% endblock %}