{% extends "base.html" %}

{% block title %}
  <title>Purchase Order</title>
{% endblock %}

{% block content %}
<div class="container">
    <form action="/purchase_order" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <h5 class="card-title">purchase order</h5>
        <div class="mb-3 col-md-4">
          <label for="Item Name" class="form-label">Item Name</label>
            <select name="item_name" class="form-select" required>
                {% for i in item_name_list %}
                  <option value="{{i[0]}}">{{i[0]}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Ordered Quantity">Ordered Quantity</label>
              <div class="col-sm-10">
                <input type="number" name="ordered_quantity" placeholder="Ordered Quantity" min="0" class="form-control" required>
              </div>
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 form-label" for="Purchase Quantity">purchase Reason</label>
              <div class="col-sm-10">
                <textarea name="purchase_reason" placeholder="Purchase Reason"  class="form-control" required></textarea>
              </div>
          </div>
        </div>

        <div class="mb-3 row">
                <div class="col-sm-10 offset-sm-2">
                    <input type="submit" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary">
                </div>
        </div>
    </form>
</div>
{% endblock %}