{% extends "table.html" %}

{% block title %}

  <title>Customer Lisiting</title>

{% endblock %}

{% block listing_name %}

    Customer Lisiting

{% endblock %}

{% block column %}
    
    <th>Customer Tin</th>                                                
    <th>Sales Date</th>
    <th>Item Name</th>
    <th>Item Quantity</th>
    <th>Unit Price</th>
    <th>Unit Name</th>
    
<script>
    fetch("/sales_list/list/{{ session['employee_tin_number'] }}")
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(
            data => {
                let employee_list=document.getElementById("list")
                for(let i=0;i<data.length;i++){ 
                    td+="<tr><td>"+data[i]["customer_tin"]+"</td>"
                    td+="<td>"+data[i]["sales_date"]+"</td>"
                    td+="<td>"+data[i]["item_name"]+"</td>"
                    td+="<td>"+data[i]["item_quantity"]+"</td>"
                    td+="<td>"+data[i]["total_price"]+"</td>"
                    td+="<td>"+data[i]["unit_name"]+"</td></tr>"     
                }
                
            }
        )
        .catch((error)=>{
            console.log(error);
        });

</script>
{% endblock %}


