<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
        
    {% endblock %}
    <link href="{{url_for('static',filename='fontawesome/css/fontawesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='fontawesome/css/solid.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='fontawesome/css/brands.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='js/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='datatables/datatables.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/master.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='flagiconcss/css/flag-icon.min.css')}}" rel="stylesheet">
    
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{{url_for('static',filename='image/logo.png')}}" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">

                {% if session["department_name"] == "Administration" %}
                    
                    <li>
                        <a href="/item_listing"><i class="fa fa-sign-out">item listing</i></a>
                    </li>
                    
                    <li>
                        <a href="/item_checkin"><i class="fa fa-sign-out">checkin</i></a>
                    </li>

                    <li>
                        <a href="/item_checkout"><i class="fa fa-sign-out">checkout</i></a>
                    </li>

                    <li>
                        <a href="/item_regsisteration"><i class="fa fa-sign-out">item regsisteration</i></a>
                    </li>

                    <li>
                        <a href="/employee_registeration"><i class="fa fa-sign-out">employee registeration</i></a>
                    </li>

                    <li>
                        <a href="/employee_termination"><i class="fa fa-sign-out">employee termination</i></a>
                    </li>

                    <li>
                        <a href="/employee_list"><i class="fa fa-sign-out">employee list</i></a>
                    </li>

                    <li>
                        <a href="/terminated_employee_list"><i class="fa fa-sign-out">terminated list</i></a>
                    </li>

                    <li>
                        <a href="/sales_registeration"><i class="fa fa-sign-out">sales registeration</i></a>
                    </li>

                    <li>
                        <a href="/customer_registeration"><i class="fa fa-sign-out">customer registeration</i></a>
                    </li>

                    <li>
                        <a href="/customer_list"><i class="fa fa-sign-out">customer list</i></a>
                    </li>
                    
                    <li>
                        <a href="/vendor_regsisteration"><i class="fa fa-sign-out">vendor regsisteration</i></a>
                    </li>
                    
                    <li>
                        <a href="/checkin_list"><i class="fa fa-sign-out">checkin list</i></a>
                    </li>

                    <li>
                        <a href="/checkout_list"><i class="fa fa-sign-out">checkout list</i></a>
                    </li>

                    <li>
                        <a href="/purchase_order"><i class="fa fa-sign-out">purchase order</i></a>
                    </li>

                    <li>
                        <a href="/approved_listing"><i class="fa fa-sign-out">approved listing</i></a>
                    </li>

                    <li>
                        <a href="/pending_listing"><i class="fa fa-sign-out">pending listing</i></a>
                    </li>

                    <li>
                        <a href="/rejected_listing"><i class="fa fa-sign-out">rejected listing</i></a>
                    </li>

                    <li>
                        <a href="/utility_registeration"><i class="fa fa-sign-out">utility registeration</i></a>
                    </li>

                    <li>
                        <a href="/utility_list"><i class="fa fa-sign-out">utility list</i></a>
                    </li>
                
                {% elif session["department_name"] == "Human Resources" %}
                    
                    <li>
                        <a href="/employee_registeration"><i class="fa fa-sign-out">employee registeration</i></a>
                    </li>

                    <li>
                        <a href="/employee_termination"><i class="fa fa-sign-out">employee termination</i></a>
                    </li>

                    <li>
                        <a href="/employee_list"><i class="fa fa-sign-out">employee list</i></a>
                    </li>

                    <li>
                        <a href="/terminated_employee_list"><i class="fa fa-sign-out">terminated list</i></a>
                    </li>

                    <li>
                        <a href="/checkin_list"><i class="fa fa-sign-out">checkin list</i></a>
                    </li>

                    <li>
                        <a href="/checkout_list"><i class="fa fa-sign-out">checkout list</i></a>
                    </li>

                    <li>
                        <a href="/purchase_order"><i class="fa fa-sign-out">purchase order</i></a>
                    </li>
                    
                {% elif session["department_name"] == "Sales" %}
                    
                    <li>
                        <a href="/sales_registeration"><i class="fa fa-sign-out">sales registeration</i></a>
                    </li>

                    <li>
                        <a href="/customer_registeration"><i class="fa fa-sign-out">customer registeration</i></a>
                    </li>

                    <li>
                        <a href="/customer_list"><i class="fa fa-sign-out">customer list</i></a>
                    </li>

                    <li>
                        <a href="/checkin_list"><i class="fa fa-sign-out">checkin list</i></a>
                    </li>

                    <li>
                        <a href="/checkout_list"><i class="fa fa-sign-out">checkout list</i></a>
                    </li>

                    <li>
                        <a href="/purchase_order"><i class="fa fa-sign-out">purchase order</i></a>
                    </li>


                {% elif session["department_name"]=="Procurement" %}

                    <li>
                        <a href="/vendor_regsisteration"><i class="fa fa-sign-out">vendor regsisteration</i></a>
                    </li>

                    <li>
                        <a href="/vendor_listing"><i class="fa fa-sign-out">vendor listing</i></a>
                    </li>

                    <li>
                        <a href="/checkin_list"><i class="fa fa-sign-out">checkin list</i></a>
                    </li>

                    <li>
                        <a href="/checkout_list"><i class="fa fa-sign-out">checkout list</i></a>
                    </li>

                    <li>
                        <a href="/approved_listing"><i class="fa fa-sign-out">approved listing</i></a>
                    </li>

                    <li>
                        <a href="/pending_listing"><i class="fa fa-sign-out">pending listing</i></a>
                    </li>

                    <li>
                        <a href="/rejected_listing"><i class="fa fa-sign-out">rejected listing</i></a>
                    </li>
                {% elif session["department_name"]=="Finance" %}
                    
                   <li>
                        <a href="/utility_registeration"><i class="fa fa-sign-out">utility registeration</i></a>
                    </li>

                    <li>
                        <a href="/utility_list"><i class="fa fa-sign-out">utility list</i></a>
                    </li>

                    <li>
                        <a href="/budget_registeration"><i class="fa fa-sign-out">budget registeration</i></a>
                    </li>

                {% endif %}

                <li>
                    <a href="/my_account"><i class="fa fa-sign-out">account</i></a>
                </li>
                
                <li>
                    <a href="/logout"><i class="fa fa-sign-out">logout</i></a>
                </li>
                
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                
            </nav>
            <!-- end of navbar navigation -->
             <div id="body" class="active">
            <!-- navbar navigation component -->
            
            <!-- end of navbar navigation -->
            <div class="content">
               <div class="container">
    <div class="row">
            <div class="col-md-12 page-header">
                <div class="page-pretitle">
                    {% block listing_name %}
                    {% endblock %}
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="col-md-12 col-lg-12">
                            <div class="card">
                               
                                <div class="card-body">
                                    <div class="table-responsive">
                                        
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    {% block column %}
                                                    {% endblock %}
                                                </tr>
                                            </thead>
                                            <tbody id="list">
                                                {% block table_content %}
                                                {% endblock %}
                                            </tbody>

                                        </table>
                                        
                                        {% block export_table %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>   
    </div>
    </div>
            </div>
        </div>
            
        </div>
    </div>
    <script src="{{url_for('static',filename='datatables/datatables.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/initiate-datatables.js')}}"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script> 
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
</body>
</html>
