{% extends "table.html" %}

{% block title %}

  <title>Utility Cost List</title>

{% endblock %}

{% block listing_name %}
    Utility Cost List
{% endblock %}

{% block column %}
    <th>Utility Id</th>
    <th>Utility Name</th>
    <th>Utility Type</th>
    <th>Total Cost</th>
    <th>Location Name</th>   
    <th>Department Name</th>   
    <th>Currency Name</th>                                          
{% endblock %}

{% block table_content %}
    {% for i in utility_list_name %}
        <tr>
            
            <td>
                {{i[0]}}
            </td>
            
            <td>
                {{i[1]}}
            </td>
            
            <td>
                {{i[2]}}
            </td>
            
            <td>
                {{i[3]}}
            </td>
            
        </tr>

    {% endfor %}

{% endblock %}


{% block export_table %}
<p><button id="export_button">Export to Excel</button></p>
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script>
document.getElementById("export_button").addEventListener("click", function () {

	const table_html = document.getElementById("table");

	// Create a spreadsheet from the HTML table
	const workbook = XLSX.utils.table_to_book(table_html);

	// Trigger the download of the Excel file
	XLSX.writeFile(workbook, "employee_data.xlsx");

});
</script>
{% endblock %}
